body {
    font-family: garamond;
}

div.scrollmenu {
    background-color: #cccccc;
    overflow: auto;
    white-space: nowrap;
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    transition: top 1s;
    top: 0;
}

div.scrollmenu a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 1.0333333%;
    text-decoration: none;
    border-right: 1px solid whitesmoke;
}

div.scrollmenu a:last-child {
    border-right: none;
}

div.scrollmenu a:active {
background-color: #04AA6D;
}

div.scrollmenu a:hover {
    background-color: #111;
    text-decoration: underline;
}


.big-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-flow: column nowrap;
    font-family: monospace;
    height: 100%;
}

.scrollboxcontainer {
    display: flex;
    overflow: auto;
    outline: 1px dashed lightgray;
    flex: none;
    flex-flow: row nowrap;
    scroll-snap-type: x mandatory;
    width: 40%;
    height: 50vh;
    scroll-padding-left: 5em;
}

.scrollbox1 {
    background-image: url("/src/images/Food.jpg");
    background-color: #cccccc;
    font-size: 200%;
    scroll-snap-align: center;
    flex: none;
    text-align: center;
    background-size: cover;
    width: 100%;
}

.scrollbox3 {
    background-color: lightskyblue;
    font-size: 200%;
    scroll-snap-align: center;
    flex: none;
    text-align: center;
    width: 100%;
    background-image: url("/src/images/Food.jpg");
    background-size: cover;
}

.scrollbox2 {
    background-color: lightblue;
    font-size: 200%;
    scroll-snap-align: center;
    flex: none;
    text-align: center;
    background-size: cover;
    width: 100%;
}

.scrollbox4 {
    background-color: lightblue;
    font-size: 200%;
    scroll-snap-align: center;
    flex: none;
    text-align: center;
    background-size: cover;
    width: 100%;
}

.scrollbox4 > a > img {
    height: 100%;
}

.hero-image {
    background-image: url("/src/images/Food.jpg");
    background-color: #cccccc;
    width: 50%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
  }

.socials {
    font-size: 300%;
}

.socials:hover {
    font-size: 400%;
}

.socials:visited {
    color: rgb(161, 161, 161);
}


footer {
    background-color: #cccccc;
    color: whitesmoke;
    padding: 0.25%;
    margin: auto;
    text-align: right;
    font-size: 35%;
}

.title {
    text-align:  center;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }
  
  input[type=tel], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
  }

  /* Style the submit button with a specific background color etc */
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  /* When moving the mouse over the submit button, add a darker green color */
  input[type=submit]:hover {
    background-color: #45a049;
  }

  .phonenumberbox {
      page-break-after: always;

  }
  
  /* Add a background color and some padding around the form */
  .contactformcontainer {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
  }

  /* quinoa cake hero image */
  .quinoa-cake-image {
    background-image: url("/src/images/Butterfly\ in\ dagga.jpg");
    background-color: #cccccc;
    width: 50%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

  .summer-pasta-salad-image {
    background-image: url("/src/images/Butterfly\ in\ dagga.jpg");
    background-color: #cccccc;
    width: 50%;
    height: 400px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    }

    .quinoa-chocolate-bars-image {
        background-image: url("/src/images/Butterfly\ in\ dagga.jpg");
        background-color: #cccccc;
        width: 50%;
        height: 400px;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        position: relative;
        }


        
        *:focus,
        *:active {
            outline: none !important;
            -webkit-tap-highlight-color: transparent;
        }
        
        html,
        body {
            background: linear-gradient(315deg, #ffffff, #d7e1ec)
        }
        
        .wrapperwrapper {
            display: grid;
            height: 100%;
            width: 100%;
            place-items: center;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .wrapper {
            display: inline-flex;
            list-style: none;
        }
        
        .wrapper .icon {
            position: relative;
            background: #ffffff;
            border-radius: 50%;
            padding: 15px;
            margin: 10px;
            width: 50px;
            height: 50px;
            font-size: 21px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            box-shadow: 0 10px 10px rgba(0,0,0,0.1);
            cursor: pointer;
            transition: all 0.2s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        
        .wrapper .tooltip {
            position: absolute;
            top: 0;
            font-size: 16px;
            background: #ffffff;
            color: #ffffff;
            padding: 5px 8px;
            border-radius: 5px;
            box-shadow: 0 10px 10px rgba(0,0,0,0.1);
            opacity: 0;
            pointer-events: none;
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        
        .wrapper .tooltip::before {
            position: absolute;
            content: "";
            height: 8px;
            width: 8px;
            background: #ffffff;
            bottom: -3px;
            left: 50%;
            transform: translate(-50%) rotate(45deg);
            transition: all 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
        }
        
        .wrapper .icon:hover .tooltip {
            top: -45px;
            opacity: 1;
            visibility: visible;
            pointer-events: auto;
        }
        
        .wrapper .icon:hover span,
        .wrapper .icon:hover .tooltip {
            text-shadow: 0px -1px 0px rgba(0,0,0,0.1);
        }
        
        .wrapper .insta:hover,
        .wrapper .insta:hover .tooltip,
        .wrapper .insta:hover .tooltip::before {
            background: #e53176;
            color: #ffffff;
        }
        
        .wrapper .email:hover,
        .wrapper .email:hover .tooltip,
        .wrapper .email:hover .tooltip::before {
            background: #1DA1F2;
            color: #ffffff;
        }
        
        .wrapper .whatsapp:hover,
        .wrapper .whatsapp:hover .tooltip,
        .wrapper .whatsapp:hover .tooltip::before {
            background: #6ce58a;
            color: #ffffff;
        }
        
        .insta:hover,
        .email:hover,
        .whatsapp:hover,
        .icon:hover a {
            font-size: 150%;
            color: #ffffff !important;
        }

        .insta:link a {
            color: #e53176;
        }

        .email:link a {
            color: #1DA1F2;
            background-color: #1DA1F2;
            background: #1DA1F2;
        }
